/* texto */
h3,h5{
    text-transform: uppercase;
    color: grey;
}
p{
    color: rgb(158, 161, 163);
}
/* header */
.tab_cabecalho{
    width: 100%;
    background-color: grey;
    padding: 10px 0;
}
#titulo_site{
    color: aliceblue;
}
/* nav */
nav{
    background-color: rgb(56, 55, 55); 
    padding: 5px;
    color: aliceblue;
}
table.tab_nav a{
    text-decoration: none;
    color: white;
}
button{
    background-color: orange;
}
input{
    background-color: rgb(56, 55, 55);
    border: 1px solid white;
}
.tab_nav{
    width: 50%;
    padding-bottom: 10px;
}

table{
    padding: 0 90px 0 90px;
}
/* infromação imagem grande */
#txt_read_more{
    text-decoration: none;
    color: orange;
}
#col_informacao {
    background-color: grey;
    padding: 10px 10px;
    color: aliceblue;
}
.informacao_texto{
    color: aliceblue;
}
#col_informacao2{
    width: 50%;
}
.informacao{
    padding: 10px 10px;
}

#informacao_linha{
    background-color: grey;
}

.tree_image{
    width: 100%;
    

}
.small_image{
    color: white;
    width: 130px;
    height: 130px;
    padding: 10px;
    margin: 20px;

}
.big_image{
    background-color: rgb(56, 55, 55);
    color: white;
    width: 1300px;
    height: 400px;
}
img{
    border: 1px solid rgb(197, 197, 209);
}
.tab_main{
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}
#link_text a{
    text-decoration: none;
    color: orange;
}
main{
    width: 100%;
}
.tab_final{
    width: 100%;
}
.img_final{
    width: 125px;
    height: 125px;
}
.col_final{
    width: 33%;
    align-items: center;
}
.letras_destaque{
    text-decoration: none;
    color: orange;
    
}
.aboutus{
    display: flex;
    justify-content: space-around;
    
}
.aboutus_texto{
    padding-left: 15px;
}
.post_title{
    text-transform: capitalize;
}
.admin{
    color: orange;
}
/* footer */
.tab_footer{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 60px;
    color: white;
    background-color: black;
}

